@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: 800;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
    font-style: italic;
}
@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url(../fonts/OpenSans-Italic.ttf);
    font-style: italic;
}
