@import 'base/_media'
*
    font-family: OpenSans
    font-size: calc(calc( 1vw + 1vh )* .9)
    font-weight: normal
.body-fixed
    overflow: hidden
    
@import 'base/_elements'
@import 'base/_buttnos'

@import 'block/_header'
@import 'block/_scenarios'
@import 'block/_tours'
@import 'block/_quote'